// Base
//---------------------------------
*{
   
}
@include selection($white,$theme-color);
iframe{
	border: none;
}
del{
    @include font-size(font-size, $del-font-size);
    color: 	$del-color;
    font-weight: 400;
}
img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.video-responsive {
    height: 0;
    padding-top: 0;
    padding-bottom: 56.25%;
    margin-bottom : 10px;
    position: relative;
    overflow: hidden;
	embed,iframe,object,video{
		top: 0;
		left: 0;
		position: absolute;
        @include square(percentage(1));
	}
}
blockquote{
    font-size: $font-size-base;
	font-weight:300;
    margin: 30px 0 13px;
	padding:20px 50px;
	font-style: italic;
    color: $light-gray;
	border-left:none;
	position:relative;
	&:before{
		display: block;
		content: "\f10d";
		padding-bottom: 15px;
		font-size: 20px;
		font-style: normal;
		line-height: 1;
		text-align: center;
		color: $theme-color;
		position: absolute;
		top: -10px;
		left: 0;
		z-index: 0;
		font-family: FontAwesome;
	}
	&:after{
		display: block;
		content: "\f10e";
		padding-bottom: 15px;
		font-size: 20px;
		font-style: normal;
		line-height: 1;
		text-align: center;
		color: $theme-color;
		position: absolute;
		bottom: -10px;
		right: 0;
		z-index: 0;
		font-family: FontAwesome;
	}
    strong, b{
        font-weight: 400;
    }
	
}
.audio-responsive{
	iframe{
		@include size(percentage(1), 126px);
	}
}
textarea:focus, input:focus{
    outline: none;
}

// Google Map
//---------------------------------
.map_canvas{
	img{
		max-width: none;
	}
}
.spinner{
	background-size: 20px 20px;
	display: block;
	margin:0 auto;
    background: url('#{$image-theme-path}spinner.gif') no-repeat;
    @include opacity(.7);
    @include square(20px);
}

// BOXED
//---------------------------------

// Tabs
//---------------------------------

// Table
//---------------------------------
table,.table{
	.product-remove{
		position: relative;
        a.remove{
            font-size: 0;
            background: transparent !important;
            position: absolute;
            top: calc(50% - 15px);
            @include rtl-left(0);
            width: 100%;
			text-align:center;
            &:before{
                display: inline-block;
                content: "\f136";
                font-family: "Material";
                font-size: 15px;
                color: $light-gray !important;
				@include square(28px);
				border:1px solid rgba($light-gray,0.5);
				@include border-radius(50%);
				line-height:27px;
            }
            &:hover{
                &:before{
                    color: $white !important;
					background:$theme-color;
					border-color:$theme-color;
                }                           
            }
        }
    }
    .product-thumbnail{
        a{
            img{
                width: 80px;
            }
        }
    }
	> thead > tr {
		> th,
		> td {
			border-bottom-width: 0px;
		}
	}
	&.shop_table{
        @include size(100%,auto);
        margin-top: 0;
        margin-bottom: $theme-margin + 1;
        border: 1px solid $table-border-color;
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th{
					padding        : $table-cell-padding;
                    line-height    : $line-height-base;
                    vertical-align : top;
					border		   :0;
                    border-bottom  : 1px solid $table-border-color;
					font-weight:700;
					color:$gray-dark;
					font-family:$font-family-second;
				}
                > td {
                    padding        : $table-cell-padding;
                    line-height    : $line-height-base;
                    vertical-align : top;
                    border         : 1px solid $table-border-color;
					
                }
            }
        }
        thead{
			background:#f5f5f5;
			border:2px solid #f5f5f5;
            th{
                font-size: 14px;
				text-transform:uppercase;
                font-weight: 700;
				border:0 !important;
            }
        }
        &.cart{
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        vertical-align: middle;
						&.product-subtotal span{
		                    font-size: 16px;
							color:$theme-color;
							font-weight:700;
		                }
                        &.product-quantity{
                            >.quantity-text{
                                vertical-align: top;
                                margin-top: 8px;
                                @include rtl-padding-right(5px);
                            }
                            >.quantity{
                                display:inline-block;
                                @media (min-width: $screen-xs-max){
                                	input:not(.minus){
					                    border-right: 0;
										border-left:0;
					                }
                                }
                            }
                        }
                        &.product-thumbnail{
                        	a{
                        		min-width: 80px;
                        		display: inline-block;
                        	}
                        }
						.variation-Vendor{
							display:inline-block;
						}
						.variation-Vendor{
							display:inline-block;
							margin-bottom:0;
							>p{
								margin-bottom:0;
							}
						}
                    }
                }
                >tr:not(.cart_item) >td{
                    @include rtl-text-align-left();
					&.actions{
						padding-left:30px;
						padding-right:30px;
					}
                }
            }
			>thead{
				th{
					padding:15px;
					border:0;
					border-bottom: 1px solid #dddddd;
					&.product-remove{
						width:80px;
					}
				}
			}
			>tbody{
				border:1px solid #f5f5f5;
				border-top:0;
				td{
					padding:15px;
					border:0;
					border-bottom: 1px solid #f5f5f5;
				}
			}
        }
        .button{
            @include border-radius($btn-border-radius);
        }
    }
	&.cart{
		.product-remove{
			vertical-align: middle;
		}
		.actions{
			padding: 15px;
			vertical-align: middle;
		}
	}
	&.table--style{
		.price{
            display: table-cell;
            vertical-align: middle;
            font-size: $font-size-base;
        }
        .label{
            padding: 10px;
        }
	}
}
.widget_calendar{
	#wp-calendar{
		margin-bottom:0;
	}
	.wp-calendar-nav{
		border: 1px solid #f5f5f5;
		border-top:0;
		display:flex;
		a{
			color:$theme-color;
		}
		span{
			display:inline-block;
			padding:5px 10px;
		}
		.pad{
			width:20%;
		}
		.wp-calendar-nav-prev{
			width:40%;
			border-right:1px solid #f5f5f5;
		}
		.wp-calendar-nav-next{
			width:40%;
			border-left:1px solid #f5f5f5;
			text-align:right;
		}
	}
}
#wp-calendar{
  width: 100%;
  margin-bottom: $line-height-lg;
  border: 1px solid $table-border-color;
  td,th{
    padding: 5px;
    text-align: center;
  }
  caption{
	margin-top:7px;
    margin-bottom: 10px;
	caption-side: top;
	color:$gray-dark;
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 0px !important;
    }
  }
  >thead{
	color:$gray-dark;
  }
  #prev,#next{
	a{
		color:$theme-color;
		&:hover{
			color:$gray-dark;
		}
	}
  }
}

ul {
 	&.treemenu{
	    li{
	        padding: $block-sidebar-list-padding-vertical;
	        background: $block-sidebar-list-image;
	        text-transform: capitalize;
	        border-bottom: 1px solid $block-sidebar-list-border-color;
	        &:first-child{
	            padding-top: 0;
	            background-position: 0 10px;
	        }
	        &:last-child{
	            border-bottom: 0;
	            padding-bottom: 0;
	        }
	        > ul{
	            @include rtl-padding-left($theme-padding);
	            li{
	                &:first-child{
	                    padding-top: $block-sidebar-list-padding-vertical;
	                }
	            }
	        }
	    }
	}
    &.bullet{

    }
    &.hasicon{
    	li{
	        float: none;
	        margin: 0 0 $padding-sm-horizontal 0;
	        .fa{
                margin-top: 5px;
	            @include rtl-margin-right($padding-sm-vertical);
	        }
            br{display: none;}
	    }
    }
    &.list-group-highlighted{
    	margin-bottom: 0;
    	li{
    		margin: 0;
    		padding: 0;
    		border: 0;
    		background: $block-sidebar-hightlight-content-bg;
    		@include rtl-text-align-left;
    		a{
    			color: $block-sidebar-hightlight-content-color;
    			@include font-size(font-size, $block-sidebar-hightlight-font-size);
                font-weight: $block-sidebar-hightlight-font-weight;
    			text-transform: $block-sidebar-hightlight-transform;
    			padding: 0px 5px;
    			display: block;
    		}
    		.count{
    			color: $block-sidebar-hightlight-content-color;
    			@include font-size(font-size, $block-sidebar-hightlight-font-size);
    			font-weight: $block-sidebar-hightlight-font-weight;
    			text-transform: $block-sidebar-hightlight-transform;
				position: relative;
				z-index: 100;
    			margin: 0;
    			top: 18px;
    			@include rtl-right(5px); 
                position: absolute;
    			background: transparent;
    		}
    		ul{
    			li{
    				padding-left: 0;
    				padding-right: 0;
    			}
    		}
    		&:last-child{
    			ul{
    				li{
    					&:last-child{
	    					a{
	    						border: 0;
	    					}
	    				}
    				}
    			}
    		}
    	}
    }
    &.contact-us{
        text-align: center;
        li{
            color: $white;
            .fa{
                color: $theme-color;
                @include font-size(font-size,20px);
            }
        }
    }
    &.list-contact{
        li{
            text-transform: none;
            @include font-size(font-size,11px);
        }
    }
}
.align-right {
	@include rtl-text-align-right();
}
.align-left {
	@include rtl-text-align-left();
}
.icons {
	font-size: 18px;
}
#swipebox-overlay{
	z-index: 9999 !important;
}
.fancybox-overlay.fancybox-overlay-fixed{
	z-index: 9999;
}
.fancybox-opened{
	z-index: 99999;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.rtl{
	.dimitatooltip{
		@include translateX(50%);
	}
}
.dimitatooltip {
	color: $white;
	display: block;
	float: left;
	font-size: 11px;
	@include rtl-left(25px);
	line-height: 22px;
	padding: 4px 8px;
	position: absolute;
	top: -40px;
	white-space: nowrap;
	width: auto;
	z-index: 2;
	@include translateX(-50%);
	background: $theme-color;
	margin: 0 !important;
	text-transform: capitalize;
	.fa{
		font-size: 0;
	}
}
.dimitatooltip:after {
	background: none;
	border: 7px solid transparent;
	border-top-color: $theme-color;
	top: 97%;
	content: "";
	display: block;
	height: 0;
	left: calc(50% - 7px);
	@include translateX(-50%);
	position: absolute;
	transform: none;
	width: 0;
}
i.slick-arrow{
    top: calc(50% - 15px);
    position: absolute;
    z-index: 1;
    color: $theme-color;
    @include square(45px);
    @include border-radius(50%);
    border: 1px solid $theme-color;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    right: -50px;
    @include transition(all 0.2s ease);
    &.fa-angle-left{
        right: auto;
        left: -50px;
		@media(max-width:$screen-sm-max){
			right: 30px;
			left: auto;
		}
    }
    &:hover{
        background: $theme-color;
        color: $white;
        cursor: pointer;
    }
	@media(max-width:$screen-md-max){
		right:-40px;
		&.fa-angle-left{
			left:-40px;
		}
	}
	@media(max-width:$screen-sm-max){
		right:0;
		top: -50px;
		@include square(30px);
		line-height: 30px;
		&.fa-angle-left{
			left:0px;
		}
	}
}
.slick-slider{
    overflow: hidden;
	.slick-list{
        margin: 0 -15px;
        .slick-slide{
            padding: 0 15px;
        }
		.slick-track, .slick-slide, .carousel-body{
			&:focus{
				outline: none;
			}
		}
	}
}
.slick-dots{
    bottom: 30px;  
	list-style-type: none;
	li{
		display: inline-block;
        vertical-align: bottom;
		margin: 0 5px;
        @include size(12px, 12px);
        @include transition(transform 0.2s ease);
		&:focus{
			outline: none;
		}
		button{
			font-size: 0;
			@include size(12px, 12px);
			background: rgba($light-gray, 0.20);
			border: none;
            padding: 0;
			@include border-radius(50%);
			@include transition(transform 0.2s ease);
            &:before{
                display: none;
            }
			&:focus{
				outline: none;
			}
		}
		&:hover, &.slick-active{
			button{
				background: $theme-color;
			}
		}
	}
}
.open >.dropdown-menu{
	display: block; 
	opacity: 1;
	visibility: visible;
}
a {
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-hover-color;
	text-decoration: unset;
	outline: unset;
  }
}
ol, ul, dl{
	margin:0;
}
.btn:focus, .clear-all:focus, .btn.focus, .focus.clear-all{
	@include box-shadow(unset !important);
}
.dokan-form-control{
	height:35px;
	line-height:35px;
}