

/************************************************************************************************
    BLOCK TOP BAR  
*************************************************************************************************/  
#bwp-topbar{
    background: $topbar-bg;
    color: $topbar-color;
    font-size: $topbar-font-size;
    line-height:50px;
	border-bottom : 1px solid rgba($light-gray,0.1);
	a{
		color:$white;
		&:hover{
			color:$theme-color;
		}
	}
	label{
		color:$light-gray;
		margin-bottom:0;
		@include rtl-margin-right(5px);
		font-weight:400;
	}
	.topbar-left{
		>div{
			@media (min-width:$screen-sm-max){
				display:inline-block !important;
			}
			&:after{
				content:"|";
				margin:0 20px;
				color:$text-color;
				@media(max-width:$screen-sm-max){
					display:none;
				}
			}
			&:last-child{
				&:after{
					display:none;
				}
			}
		}
		i{
			color:$light-gray;
			@include rtl-margin-right(10px);
		}
	}
	.topbar-right{
		@include rtl-text-align-right();
		>div{
			@media (min-width:$screen-sm-max){
				display:inline-block !important;
			}
		}
		.order{
			color:$light-gray;
			&:after{
				content:"|";
				margin:0 20px;
				color:$text-color;
			}
		}
		.block-top-link{
			.widget{
				display:inline-block;
				&:after{
					content:"|";
					margin:0 20px;
					color:$text-color;
				}
				&:last-child{
					&:after{
						display:none;
					}
				}
				.widget-title{
					font-size:13px;
					color:$white;
					font-family:$font-family-base;
					font-weight:400;
					&:hover{
						color:$theme-color;
					}
					&:after{
						content:"\f0d7";
						font-family:FontAwesome;
						@include rtl-margin-left(5px);
						font-size:14px;
						position:relative;
						top:1px;
						display:inline-block;
						@include transition(all 0.3s ease);
					}
					&.active{
						&:after{
							@include transform(rotate(-180deg));
						}
					}
				}
				.widget-custom-menu {
					display:inline-block;
				}
				a{
					color:$text-color;
					&:hover{
						color:$theme-color;
					}
				}
			}
			#menu-language-menu{
				min-width:80px;
				.menu-img{
					@include rtl-margin-right(5px);
					display:inline-block;
					position: relative;
					top: -2px;
				}
				.menu-item-text{
					line-height:10px;
				}
			}
		}
	}
}   



/************************************************************************************************
    BLOCK MENU 
*************************************************************************************************/
.#{$app-prefix}-menu-wrapper {
	border-top: 1px solid $border-color;
	border-bottom: 4px double $border-color;
	.container{display: table;}
	#primary-navigation{
		display: table-cell;
		vertical-align: middle;
	}
	.block-cart{
		display: table-cell;
		vertical-align: middle;
		@include rtl-text-align-right();
		.cart-popup {
			min-width: 320px;
			@include rtl-right(0);
			@include rtl-left(inherit);
			.cart_list {
				list-style: none;
			}
		}
	}
}

/************************************************************************************************
    BREADCRUMB
*************************************************************************************************/
.breadcrumb{
    @include border-radius(0);
    margin: $breadcrumb-margin;
    color: $breadcrumb-color;
    padding:15px 0;
    font-size: $breadcrumb-font-size;
	font-weight:400;
	font-family:$font-family-second;
	border-bottom:1px solid #f5f5f5;
	width:100%;
	background:transparent;
	@media(max-width:$screen-xs-max){
		text-align:center;
	}
	a{
        color: $text-color;
		position:relative;
        &:hover {
            color: $theme-color;
        }
    }
	.current{
		color:$theme-color;
	}
    .delimiter {
        margin: 0 8px;
		color: $text-color;
        &:before{
          content: "\f105";
          display: inline-block;
		  font-family:FontAwesome;
		  font-size:15px;
        }
    } 
}

/* Slideshow -------------------------------------------------------------------------------------- */
.#{$app-prefix}-slideshow{
    .wpb-inner{
        margin-bottom: 0 !important;
    }
}

/* Container -------------------------------------------------------------------------------------- */
.#{$app-prefix}-main{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
    .page-title{
		margin: $page-title-margin;
		font-size: 20px;
		background-position: center;
		padding-top: 100px;
		padding-bottom: 100px;
		@media (max-width: $screen-sm-max){
			padding-top: 80px;
			padding-bottom: 80px;
		}
		h1{
			margin-top: 20px;
			top:0;
			margin-bottom: 0;
			font-size: 22px;
			position:absolute;
			text-transform:uppercase;
			@include rtl-right(15px);
			color: $gray-dark;
			font-family:$font-family-second;
			font-weight:700;
			@media (max-width:1500px) and (min-width:1200px){
				@include rtl-right(50px);
			}
			@media(max-width:$screen-sm-max){
				float:none;
				margin-bottom : 13px;
			}
			@media(max-width:$screen-xs-max){
				display:none;
			}
		}
		&.empty-image{
			padding: 0;
			h1{
				color: $gray-dark;
			}
			.breadcrumb{
				a{
					color: $text-color;
					&:hover{
						color: $theme-color;
					}
				}
			}
		}
		>.container{
			position:relative;
		}
    }
}

/* Content -------------------------------------------------------------------------------------- */
.#{$app-prefix}-content{
    background: $content-bg;
    @include clearfix();
}
/* Pagination -------------------------------------------------------------------------------------- */
.#{$app-prefix}-pagination{
    margin: 0;
}

/************************************************************************************************
    BLOCK FOOTER 
*************************************************************************************************/
  
##{$app-prefix}-footer{ 
    @include box-size($footer-bg, $footer-padding-top, $footer-padding-bottom);
    position: relative;
    color: $footer-color;
    border-bottom: $footer-border;
    font-size: $footer-font-size;
    z-index: 2;
    line-height: 24px;
    margin-top: 90px;
    a{
        font-size: $footer-link-font-size;
        color: $footer-link-color;
        &:hover,
        &:focus,
        &:active{
            color: $footer-link-hover-color;
        }
    }
    p:not(:last-child){
		margin-bottom: 10px;
    }
    .wpb_single_image{
		a{
			line-height: 100%;
		}
    }
    .wpb_content_element{
		margin-bottom: 0;
    }
    .widget-title {
        margin-top: 0;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            margin-bottom: 10px;
            &:last-child{
              margin-bottom: 0;
            }
        }
    }
	.footer-newlest{
		margin-bottom:0 !important;
		@media (min-width:$screen-md){
			width:80%;
			max-width:80%;
		}
	}
	.footer-social{
		@media (min-width:$screen-md){
			width:20%;
			max-width:20%;
		}
	}
	.text-block-footer-1{
		position:relative;
		h2{
			font-size:18px;
			text-transform:uppercase;
			@include transform(rotate(90deg));
			position: absolute;
			@include rtl-left(-58px);
			top: 43px;
			color:$light-gray;
			font-weight:400;
		}
		ul{
			@include rtl-margin-left(40px);
			li{
				margin-bottom:28px;
				strong{
					display:block;
					font-size:16px;
					text-transform:uppercase;
					margin-bottom:5px;
					color:$gray-dark;
				}
			}
		}
		@media (max-width:$screen-sm-max){
			text-align:center;
			margin-bottom:50px;
			h2{
				position:unset;
				@include transform(rotate(0));
				margin-bottom:30px;
			}
			ul{
				@include rtl-margin-left(0);
			}
		}
	}
    .widget-custom-menu{
		ul#menu-copyright-link{
			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 20px;
				&:first-child{
					@include rtl-margin-left(0);
				}
				&:last-child{
					@include rtl-margin-right(0);
				}
				a{
					color: $text-color;
					&:hover{
						color: $theme-color;
					}
				}
			}
		}
    }
	.footer-bottom{
		a{
			color: $theme-color;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				background: $theme-color;
				bottom: -3px;
				@include rtl-left(0);
				@include size(0, 1px);
				@include transition(all 0.2s ease);
			}
			&:hover{
				&:before{
					width: 100%;
				}
			}
		}
	}
    .footer-copyright{
		padding: 22px 0;
		.wpb_text_column, &.wpb_text_column{
			.wpb_wrapper{
				>*:not(.social-link){
					a{
						color: $theme-color;
						position: relative;
						&:before{
							position: absolute;
							content: "";
							background: $theme-color;
							bottom: 1px;
							@include rtl-left(0);
							@include size(0, 1px);
							@include transition(all 0.2s ease);
						}
						&:hover{
							&:before{
								width: 100%;
							}
						}
					}
				}
			}
		}
    }
    .footer-title{
		margin-bottom: 30px;
		h2{
			font-size: 15px;
			font-family:$font-family-second;
			font-weight:700;
			margin:0;
			text-transform: uppercase;
			color:$white;
			@media(max-width:$screen-sm-max){
				margin-top:30px;
			}
			@media(max-width:$screen-md-max){
				font-size:19px;
			}
		}
    }
    ul.social-link{
		li{
			margin: 0 11px;
			@include rtl-padding-left(0px);
			&:before{
				display : none;
			}
			&:first-child{
				@include rtl-margin-left(0);
			}
			&:last-child{
				@include rtl-margin-right(0);
			}
			a{
				display: inline-block;
				&:before{
					display: none;
				}
				i{
					@include transition(all 0.2s ease);
				}
				&:hover{
					i{
						color: $theme-color;
					}
				}
			}
			@media (max-width:$screen-md-max){
				margin:0 5px;
			}
		}
    }
    &.footer-1,&.footer-2,&.footer-3{
		color:#c1c1c1;
		a{
			color:#c1c1c1;
			&:hover{
				color:$theme-color;
			}
		}
		.contact-footer{
			h2{
				color:$theme-color;
				font-size:34px;
				font-family:$font-family-base;
				margin:0;
				margin-bottom:20px;
			}
		}
		.footer-main{
			flex-wrap:wrap;
		}
		.content-footer-top{
			>.vc_column-inner{
				@include rtl-padding-left(85px);
				@media (max-width:$screen-md-max){
					@include rtl-padding-left(15px);
				}
			}
		}
		.footer-top{
			@include transform(translateY(50%));
			.content-newlest-footer{
				>.elementor-column-wrap{
					>.elementor-widget-wrap{
						background:$theme-color;
						display:flex;
						align-items:center;
						padding:10px 40px;
						@media (max-width:$screen-sm-max){
							padding:15px;
						}
					}
				}
			}
			.social-link{
				@include rtl-text-align-right();
				@media (max-width:$screen-sm-max){
					text-align:center !important;
				}
				li{
					@include rtl-margin-right(10px);
					&:last-child{
						@include rtl-margin-right(0);
					}
					a{
						i{
							color:$white;
							font-size:16px;
							position:relative;
							@include transition(all 0.3s ease);
							top:0;
						}
						&:hover{
							i{
								top:-3px;
							}
						}
					}
				}
			}
		}
    }
	&.footer-2 {
		z-index: 1;
		.footer-top{
			@include transform(translateY(0));
		}
	}
    &.footer-3,&.footer-4,&.footer-5{
    	.footer-title {
    		h2{
				color:$gray-dark;
			}
    	}
		.footer-top{
			@include transform(translateY(0));
		}
		.footer-main{
			padding-bottom:53px;
			.footer-title{
				@media(max-width:$screen-md-max){
					margin-top:55px;
				}
			} 
		}
		.clearfix {
			line-height: 42px;
			height: 41px;
			position:relative;
			input[type="submit"] {
				padding: 0 20px;
				background: $gray-dark;
				border: 0;
				&:hover {
					background:$white;
				}
			}
			.ajax-loader{
				position:absolute;
			}
		}
		.footer-copyright{
			background:$white;
			@media(max-width:$screen-xs-max){
				text-align:center;
			}
			.wpb_single_image{
				@media(max-width:$screen-xs-max){
					text-align:center!important;
				}
			}
		}
		.social-link {
			li {
				@include rtl-margin-right(15px!important);
			}
		}
		.contact-footer{
			p{
				display:flex;
				color:$text-color;
			}
			i{
				color:$light-gray;
				width:25px;
				display:inline-block;
				position: relative;
				top: 3px;
			}
		}
		.footer-title{
			margin-top:65px;
		}
		.footer-main{
			display:flex;
			flex-wrap:wrap;
		}
    }
	&.footer-3 {
		a{
			color:$text-color;
		}
	}
    &.footer-4 {
    	.clearfix {
			line-height: 41px;
			height: 41px;
			@media (max-width:$screen-sm-max){
				margin-top:30px;
				display:inline-block;
				@include rtl-margin-left(0);
			}
			input[type="submit"] {
				&:hover {
					background:$theme-color;
				}
			}
		}
    }
	&.footer-5{
		.contact-footer{
			h2{
				color:$theme-color;
				font-size:34px;
				font-family:$font-family-base;
				margin:0;
				margin-bottom:20px;
			}
		}
		.footer-main{
			flex-wrap:wrap;
		}
		.content-footer-top{
			>.vc_column-inner{
				@include rtl-padding-left(85px);
				@media (max-width:$screen-md-max){
					@include rtl-padding-left(15px);
				}
			}
		}
		.footer-top{
			.social-link{
				@include rtl-text-align-right();
				@media (max-width:$screen-sm-max){
					text-align:center !important;
				}
				li{
					a{
						i{
							color:$text-color;
							font-size:18px;
							position:relative;
							@include transition(all 0.3s ease);
							top:0;
						}
						&:hover{
							i{
								top:-3px;
								color:$theme-color;
							}
						}
					}
				}
			}
		}
		.clearfix {
			line-height: 55px;
			height: 56px;
			position:relative;
			top:-1px;
			input[type="submit"] {
				padding: 0 20px;
				background: $theme-color;
				border: 0;
				&:hover {
					background:darken($theme-color,10%);;
				}
			}
			.ajax-loader{
				position:absolute;
				right:10px;
			}
		}
	}
	&.footer-6{
		.footer-bottom{
			.coppy-right{
				.elementor-text-editor{
					color:$very-dark-gray;
					a{
						color:$theme-color;
					}
				}
			}
			ul{
				&:not(.social-link){
					@include rtl-text-align-right();
					@media (max-width:$screen-md-max){
						text-align:center;
					}
					li{
						display:inline-block;
						@include rtl-margin-left(30px);
						&:first-child{
							@include rtl-margin-left(0);
						}
						a{
							color:$very-dark-gray;
							&:hover{
								color:$theme-color;
							}
						}
					}
				}
				&.social-link{
					@media (max-width:$screen-md-max){
						text-align:center;
						li{
							margin:0 10px;
						}
					}
				}
			}
		}
		.elementor-text-editor{
			color:$light-gray;
			label{
				color:$theme-color;
			}
			p:last-child{
				margin-bottom:0;
			}
		}
		a{
			color:$light-gray;
			&:hover{
				color:$theme-color;
			}
		}
		.content-newlest-footer{
			@include transform(translateY(67px));
			>.elementor-column-wrap{
				>.elementor-widget-wrap{
					display:flex;
					background:$theme-color;
					padding:40px;
					justify-content: space-between;
					align-items:center;
					>*{
						width:auto;
						margin-bottom:0;
						&.elementor-section-boxed{
							flex:1;
						}
						@media (max-width:$screen-sm-max){
							width:100%;
						}
					}
				}
			}
		}
		.title-newletter{
			color:$white;
			@include rtl-margin-right(30px);
			h2{
				color:$white;
				font-size:20px;
				text-transform:uppercase;
				margin:0;
				margin-bottom:5px;
				@media (max-width:$screen-sm-max){
					margin-top:30px;
				}
			}
			.elementor-text-editor{
				color:$white;
			}
			@media (max-width:$screen-md-max){
				@include rtl-margin-right(0);
			}
			@media (max-width:$screen-sm-max){
				text-align:center;
			}
		}
		.footer-newlest{
			width:100%;
			display:flex;
			max-width:unset;
			@include rtl-padding-left(115px);
			>.elementor-column-wrap{
				>.elementor-widget-wrap{
					display:flex;
					>*{
						width:auto;
						margin-bottom:0;
						&:not(.title-newletter){
							flex:1;
						}
						@media (max-width:$screen-md-max){
							margin-bottom:15px;
							width:100%;
							&:last-child{
								margin-bottom:0;
							}
						}
					}
				}
			}
			@media (max-width:$screen-sm-max){
				@include rtl-padding-left(0);
			}
		}
		.wpbingo-newsletter-1-1{
			.content-newsletter{
				input[type="email"]{
					height:50px;
					line-height:50px;
					border:0;
				}
			}
			input[type="submit"]{
				line-height:50px;
				font-size:0;
				padding:0 50px;
				position:relative;
				z-index:2;
				&:hover{
					background:transparent;
				}
			}
			.clearfix{
				background:$gray-dark;
				position:relative;
				z-index:1;
				&:before{
					content:"";
					background: url('#{$image-theme-path}email.png') no-repeat center;
					@include size(44px,18px);
					position:absolute;
					top:calc(50% - 9px);
					left:calc(50% - 22px);
					z-index:1;
				}
				.ajax-loader{
					position:absolute;
				}
			}
		}
	}
} 

/*  */
/* Newletter Popup */
/*  */
.newsletterpopup .close-popup {
	background: $theme-color;
	@include border-radius(50%);
	cursor: pointer;
	position: absolute;
	@include rtl-right(6px);
	top: 6px;
	font-size: 15px;
	line-height: 17px;
	text-align: center;
	@include square(22px);
	border:1px solid $white;
	color:$white;
	z-index: 9999;
	&:hover{
		background: $white;
		color: $theme-color;
		border-color:$theme-color;
	}
}
.popupshadow {
	background-color: rgba(32,32,32,0.6);
	height: 100%;
	@include rtl-left(0);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	display: block;
	display : none;
}
.newsletterpopup {
    box-sizing: border-box;
    height: auto;
    @include rtl-left(50%);
	@include transform(translate(-50% , -50%));
    margin:auto;
    position: fixed;
    top: 50%;
    width: 680px;
    z-index: 1000000;
    display: inline-block;
	display : none;
    >.row{
		margin: 0;
		>div{
			padding: 0;
		}
		.background{
			display: -webkit-box;
		}
    }
    .widget{
		margin-bottom: 0;
    }
    .wp-newletter{
        padding:0;
        width: 100%;
        .wpbingo-newsletter{
            background: transparent;
            padding: 60px 0 65px;
			max-width: 370px;
			margin: 0 0 0 auto;
			.content-title{
				margin-bottom:40px;
			}
            .title-newsletter{
                font-size: 35px;
                font-weight: 700;
				font-family:$font-family-second;
				color:$gray-dark;
				margin-bottom:20px;
				text-transform:uppercase;
				margin-top:10px;
            }
			.description{
				font-size: 60px;
                font-weight: 700;
				font-family:$font-family-base;
				color:$theme-color;
				text-transform:uppercase;
				line-height: 1.1;
			}
            .text-newsletter{
				line-height: 24px;
				font-weight: 400;
				font-size: 14px;
            }
			.text-bottom{
				margin-top:26px;
				font-size:13px;
				font-weight:400;
				display:inline-block;
				position:relative;
				color:$light-gray;
			}
            .content-newsletter{
				display:block;
				max-width:300px;
				margin-top: 28px;
				margin-bottom: 0;
				font-size: 13px;
				margin:0;
				@include box-shadow(none);
				.wpcf7-form-control-wrap{
					margin: 0;
				}
				span.wpcf7-not-valid-tip{
					position: absolute;
				}
				>.clearfix{
					position: unset;
					display: block;
					margin-top:20px;
					span.ajax-loader{
						top: 5px;
					}
				}
            }
			span.ajax-loader{
				position:absolute;
			}
            input[type="email"]{
				padding: 0 20px;
				height: 45px;
				line-height:45px;
				background: $white;
				@include box-shadow(0px 5px 5px 0px rgba(0, 0, 0, 0.2)); 
            }
            input[type="submit"]{
				background: $theme-color;
				color: $white;
				font-size: 13px;
				font-weight:700;
				height:45px;
				line-height:43px;
				padding:0 30px;
				border:0;
				text-transform:uppercase;
				@include box-shadow(0px 5px 5px 0px rgba(0, 0, 0, 0.2));
				cursor:pointer;
				font-family:$font-family-second;
				&:hover{
					color: $white;
					background: darken($theme-color, 10%);
				}
            }
        }
        div.wpcf7-validation-errors{
            padding: 5px;
        }
    }
    .wpcf7-form div.wpcf7-validation-errors{
		margin-top: 0 !important;
		background: $white;
		position:absolute;
    }
}


/* Copyright -------------------------------------------------------------------------------------- */
.#{$app-prefix}-copyright{
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    background: $copyright-bg;
    font-family: $copyright-font-family;
    margin-top: 80px;
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    .container{
        padding-bottom: $copyright-padding-bottom;
        position: relative;
        padding-top: $copyright-padding-top;
        &:before{
			position: absolute;
			top: 0;
			content: "";
			background: #dedede;
			@include rtl-left(15px);
			width: calc(100% - 30px);
			height: 1px;
        }
        .payment{
            @include rtl-text-align-right();
        }
    }
}

