.sticky{
	background:#f5f5f5;
	padding:60px 25px 25px;
	.entry-meta{
		>span{
			&:nth-child(2) {
			    padding-left: 0 !important;
			    &:before{
			    	display: none;
			    }
			}
		}
	}
	.entry-title{
		a{
			font-size : 35px !important;
			font-weight: 700;
		}
	}
	.sticky-post{
		background-color: $theme-color;
		color: $white;
		font-weight: 700;
		letter-spacing: 0.04em;
		margin-bottom:10px;
		display:inline-block;
		padding: 5px 10px !important;
		text-transform: uppercase;	
		line-height: 19px;
		position: absolute;
		top: 40px;
	}	
	.post-content{
		padding: 0 !important;
		margin-top:30px !important;
	}
}
/************************************************************************************************
    POST ARCHIVES
*************************************************************************************************/
.category-posts .cate-post-content, .author, .search{
	&.left:not(.col-xl-12,.col-lg-12){
		@media(min-width:$screen-md){
			@include rtl-padding-left(35px);
		}
	}
	&.right:not(.col-xl-12,.col-lg-12){
		@media(min-width:$screen-md){
			@include rtl-padding-right(35px);
		}
	}
	.entry-thumb{
		.gallery-slider{
			vertical-align: top;
			overflow: hidden;
		}
	}
	.navigation{
		text-align:center;
		@media (max-width:$screen-xs){
			@include rtl-text-align-left();
		}
	}
	.blog-content-grid,.blog-content-masonry{
		margin: 0 -15px;
		.entry-post{
			position: relative;
			.entry-thumb{
				width:100%;
			}
			.post-content{
				margin-top:20px;
				top: 0;
				z-index: 9;
			  	background: rgba($white, 0.9);
			  	@include transition(all 0.3s ease);
			}
		}
		h3.entry-title{
			font-size: 24px;
			line-height: 1.5;
			width: 100%;
			margin-top:0;
			margin-bottom : 15px;
		}
		.read-more{
			margin-top:10px;
			display:inline-block;
		}
		.cat-links{
			color:$light-gray;
			a{
				color:$theme-color;
				font-size:13px;
				&:hover{
					color:$gray-dark;
				}
			}
		}
		.entry-infor{
			display:flex;
			align-items:center;
			font-family : $font-family-second;
			>div{
				position:relative;
				a{
					color:$light-gray;
					font-size:15px;
					font-weight:400;
					&:hover{
						color:$theme-color;
						time{
							color:$theme-color;
						}
					}
				}
				i{
					color:$theme-color;
					@include rtl-margin-right(5px);
					font-size:15px;
				}
				&:after{
					content:"-";
					color:$light-gray;
					margin:0 10px;
				}
				&:last-child{
					&:after{
						display:none;
					}
				}
				time{
					position:relative;
					color:$light-gray;
					font-size:15px;
				}
				.entry-meta{
					margin:0;
				}
				.no-comment{
					font-size:15px;
					color:$light-gray;
					font-weight:400;
				}
			}
			label{
				font-weight:400;
				color:$light-gray;
				margin:0;
			}
		}
		.post-excerpt{
			margin-top: 17px !important;
			margin-bottom: 12px !important;
		}
	}
	.blog-content-list{
		.entry-meta{
			display:flex;
			flex-wrap:wrap;
			align-items:center;
			font-family : $font-family-second;
			margin-bottom:3px;
			>div:not(.sticky-post){
				color:$light-gray;
				font-size:15px;
				position:relative;
				margin-bottom:12px;
				label{
					margin:0;
					font-weight:400;
					color:$light-gray;
				}
				a{
					font-size:15px;
					color : $light-gray;
					&:hover{
						color:$theme-color;
						span,time{
							color:$theme-color;
						}
					}
				}
				span{
					color:$light-gray;
				}
				i{
					@include rtl-margin-right(5px);
					color:$theme-color;
					position: relative;
					font-size:15px;
				}
				&:before{
					display:none;
				}
				&:after{
					content:"";
					color:$light-gray;
					margin:0 25px;
				}
				&:last-child{
					&:before{
						display:none;
					}
					&:after{
						display:none;
					}
				}
				time{
					position:relative;
					color : $light-gray;
				}
			}
		}
		.list-post{
			margin-bottom:65px;
			.type-post{
				display:block;
				.post-content{
					h3.entry-title{
						font-size:30px;
						margin-bottom:13px;
					}
				}
			}
			.entry-thumb{
				margin-bottom:35px;
			}
		}
		.post_format-post-format-gallery{
			.gallery-slider{
				.slick-arrow{
					border:none;
					@include square(30px);
					line-height:30px;
					right: 50px;
					left: auto;
					color: $white;
					&:after{
						background: $white;
					}
					&:hover{
						background:transparent;
					}
					&.fa-angle-left{
						&:before{
							content:"\f177";
						}
					}
					&.fa-angle-right{
						&:before{
							content:"\f178";
						}
						right: 15px;
					}
				}
			}
		}
		.type-post,.type-page{
			.post-content{
				@media (max-width:$screen-sm-max){
					margin-top:20px;
				}
			}
		}
	}
	h3.entry-title{
		margin-bottom: 5px;
		line-height:1.3;
		font-size: 30px;
		font-family:$font-family-second;
		@media(max-width:$screen-sm-max){
			margin-top:10px;
		}
	}
	.entry-meta{
		.entry-meta-link{
			a{
				text-transform: capitalize;
				color:$theme-color;
			}
			img{
				@include border-radius(50%);
				@include rtl-margin-right(10px);
			}
		}
	}
	.post-content{ 
		.post-excerpt{
			margin-top:0;
			margin-bottom:32px;
		}
		.read-more{
			font-family:$font-family-second;
			font-size:13px;
			font-weight:700;
			display:inline-block;
			line-height:40px;
			background:$theme-color;
			padding:0 25px;
			color:$white;
			letter-spacing:2px;
			text-transform:uppercase;
			&:hover{
				background:darken($theme-color,10%);
			}
		}
	}
	.grid-post, .masonry-post{
		margin-bottom: 50px;
	}
	.byline,.published:not(.updated) {
		display: none;
	}
}
.post_format-post-format-gallery{
	.gallery-slider{
		display: inline-block;
		width: 100%;
		.slick-arrow{
			border:none;
			@include square(30px);
			line-height:30px;
			right: 30px;
			left: auto;
			top:0;
			color: $theme-color;
			&:after{
				background: $white;
			}
			&:hover{
				background:transparent;
			}
			&.fa-angle-left{
				&:before{
					content:"\f177";
				}
			}
			&.fa-angle-right{
				&:before{
					content:"\f178";
				}
				right: 0px;
			}
		}
	}
}

.blog-content-grid{
	display: flex;
	flex-wrap: wrap;
}

/************************************************************************************************
    POST SINGLE
*************************************************************************************************/
.single-post-content{
	.post-single{
		&.left:not(.col-xl-12,.col-lg-12){
			@media(min-width:$screen-md){
				@include rtl-padding-left(35px);
			}
		}
		&.right:not(.col-xl-12,.col-lg-12){
			@media(min-width:$screen-md){
				@include rtl-padding-right(35px);
			}
		}
	}
}

.comments-area{
	color: $light-gray;
	display: inline-block;
	margin-top:70px;
    width: 100%;
    > ol, > ul{	
		> li{
			padding: 0 !important;
			&.bypostauthor{
				font-style: normal;
				font-size: 13px;
			}
		}
    }
	ul{list-style : disc;}
	ol{list-style : decimal;}
	.comments-title{
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 0;
		font-family:$font-family-second;
		color:$gray-dark;
		text-transform:uppercase;
	}
	.comment-navigation{
		display : inline-block;
		width : 100%;
		margin-bottom:50px;
		>div{
			font-weight: 400;
			text-transform: uppercase;
			font-family: $font-family-second;
			@media(max-width:$screen-xs-max){
				font-size:12px;
			}
			a{
				color:$white;
				position:relative;
				padding: 0 20px;
				background:$theme-color;
				display:inline-block;
				line-height:40px;
				@include transition(all 0.3s ease);
				@media(max-width:$screen-xs-max){
					padding:0 15px;
				}
				&:before{
					display:none;
					@include transition(all 0.3s ease);
					@include opacity-h();
					position:absolute;
					content:"\23";
					font-family:ElegantIcons;
					@include rtl-left(-15px);
					top:0;
					font-size: 16px;
					line-height: 40px;
					color:$white;
					@media(max-width:$screen-xs-max){
						font-size: 13px;
					}
				}
				&:hover{
					color:$white;
					background:darken($theme-color,10%);
				}
			}
			&:empty{
				display:none;
			}
		}
		.nav-previous{
			@include rtl-float-left();
		}
		.nav-next{
			@include rtl-float-right();
			a{
				&:before{
					content:"\24";
					@include rtl-left(auto);
					@include rtl-right(0);
				}
				&:hover{
					color:$white;
					&:before{
						@include rtl-right(11px);
						@include rtl-left(auto);
						@include opacity-s();
					}
				}
			}
		}
	}
	.comment-list{
		list-style : none;
		padding : 0px;
		margin-top:32px;
		margin-bottom:71px;
		.children{
			list-style : none;
			@include rtl-padding-left(70px);
			.media{
				&:last-child{
					border-bottom:0;
				}
			}
			@media (max-width:$screen-xs){
				@include rtl-padding-left(0px);
			}
		}
		>.children{
			border-bottom: 1px solid #dddddd;
			margin-bottom:30px;
		}
		b.fn{ color: #252525; }
		.media{
			position: relative;
			margin-bottom: 30px;
			padding-bottom:25px;
			border-bottom:1px solid $border-color;
			.media-left{
				@include rtl-float-left();
				img{
					@include border-radius(50%);
					@include rtl-margin-right(20px);
				}
			}
			.media-body{
				font-size: 14px;
				>.media-content{
					padding-bottom: 0;
					font-weight:300;
					p:empty{
						display:none;
					}
					h4.media-heading{
						line-height:1.8;
						font-size: 14px;
						margin-bottom:2px;
						margin-top:0;
						text-transform:uppercase;
						a{
							color: $gray-dark;
							&:hover{
								color : $theme-color;
							}
						}
					}
					.media-silver{
						margin-bottom:13px;
						display:block;
						font-size:14px;
						.comment-edit-link{
							&:before{
								content:"-";
								display:inline-block;
								margin:0 10px;
								color:$light-gray;
							}
						}
					}
					.comment-content{
						color:$text-color;
						font-weight:400;
						font-size:15px;
						p{
							margin:0;
						}
					}
					.comment-reply-link{
						position:absolute;
						top:0;
						@include rtl-right(0);
						padding:0 10px;
						background:rgba($light-gray,0.15);						
						color:$text-color;
						font-weight:400;
						font-size:13px;
						&:hover{
							background:darken($theme-color, 10%);
							color:$white;
						}
						@media (max-width:$screen-xs){
							position:unset;
							margin-top:30px;
							display:inline-block;
						}
					}
				}
			}
			&:last-child{
				margin-bottom:0;
			}
		}
	}
	.comment-form,.comment-respond{
		a{
			color: $theme-color;
		}
		.comment-notes, .logged-in-as{
			margin-bottom: 30px;
			font-weight: 400;
		}
		.comment_reply_header{
			h3{
				font-size: 20px;
				margin-top:0;
				margin-bottom: 23px;
				font-family:$font-family-second;
				color:$gray-dark;
				text-transform:uppercase;
			}
		}
		.comment-form-cookies-consent{
			display:inline-block;
			padding:0 15px; 
			input{
				@include rtl-margin-right(5px);
			}
		}
		.form-group{
			position: relative;
			margin-bottom: 30px;
			.form-control{				
				height: 47px;
				padding: 10px 20px;
				border: none;
				font-weight:300;
				@include placeholder($light-gray);
				@include border-radius(4px);
				background: rgba(#f5f5f5,0.8);
			}
			textarea.form-control{
				height: auto;
			}
			>#comment{
				margin-top: 15px;
			}
			input[type="submit"]{
				background: $theme-color;
				@include border-radius(0);
				color: $white;
				font-weight: 400;
				padding:0 20px;
				height: 40px;
    			line-height: 38px;
				font-family:$font-family-second;
				&:hover{
					background: darken($theme-color, 10%);
				}
			}
			.required{
				color: red;
				position: absolute;
				@include rtl-right(20px);
				top: 17px;
			}
		}
	}
	.no-comments{
		font-weight: 500;
		color: $gray-dark;
		margin-top : 25px;
	}
	.comment-respond{ 
		margin-top: 40px; 
	}
}
.post-single{
	.entry-thumb{
		margin-bottom: 21px;
	}
	h3.entry-title{     overflow-wrap: break-word; margin-top: 0; margin-bottom: 12px; font-size: 40px; line-height: 1.4;font-family:$font-family-second;color:$gray-dark;}
	.entry-meta{
		.entry-meta-link{
			a{
				text-transform: capitalize;
			}
			img{
				@include border-radius(50%);
				@include rtl-margin-right(10px);
			}
		}
	}
	.entry-by{
		display:flex;
		align-items:center;
		flex-wrap:wrap;
		margin-bottom:32px;
		@media(max-width:$screen-xs){
			display:block;
		}
		.cat-links,.post-date,.comments-link,.entry-author{
			text-transform:capitalize;
			&:after{
				content:"";
				font-weight:400;
				color:$light-gray;
				margin:0 20px;
			}
			&:before{
				display:none;
			}
			&:last-child{
				&:after{
					display:none;
				}
			}
			i{
				font-size:15px !important;
			}
			label{
				color:$light-gray;
				font-weight:400;
				font-size:15px;
				margin:0;
			}
		}
		>.entry-date{
			@include rtl-margin-right(20px);
			position:relative;
			top:-2px;
			a{
				time{
					color:$theme-color;
				}
			}
		}
	}
	.published:not(.updated){
		display: none;
	}
	.format-gallery{ 
		.post-content{ 
			.post-excerpt{
				display: inline-block;
				margin : 0 -5px;
				>div.gallery{
					display: inline-block;
					width: 100%;
					vertical-align: top;
					margin-bottom: 20px;
				}
				p,h2{
					padding:0 5px;
				}
				.page-links{
					padding:0 5px;
				}
			}
		}
	}
	.format-video{
		iframe{
			width: 100%;
		}
	}
	.prevNextArticle{
		padding:35px 30px;
		display: inline-block;
		width: 100%;
		background:$list-group-hover-bg;
		@include border-radius(8px);
		.previousArticle,.nextArticle{
			width:50%;
			@include rtl-float-left();
			a{
				color:$light-gray;
				font-size:15px;
				text-transform:capitalize;
				.title{
					font-weight:400;
					color:$text-color;
					overflow-wrap: break-word;
				}
				&:hover{
					.title{
						color:$theme-color;
					}
				}
			}
			.title{
				&:before{
					content: "\23";
					font-family: eleganticons;
					@include rtl-margin-right(10px);
					position: relative;
					top: 2px;
				}
			}
			@media (max-width:$screen-xs-max){
				width:100%;
				margin:15px 0;
			}
		}
		.hoverExtend{
			display:none;
		}
		.nextArticle{
			@include rtl-text-align-right();
			@include rtl-float-right();
			.title{
				&:after{
					content: "\24";
					font-family: eleganticons;
					@include rtl-margin-left(10px);
					position: relative;
					top: 2px;
				}
				&:before{
					display:none;
				}
			}
		}
	}
	.post-content-entry{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top:0;
		padding-bottom:35px;
		width:100%;
		border-bottom:1px solid rgba($light-gray,0.25);
		.entry-social-share{
			margin-bottom:0;
			margin-top:42px;
			.title-social{
				color: $light-gray;
				font-size: 0;
				font-weight: 400;
				text-transform: uppercase;
			}
			.social-share {
				display: inline-block;
				a {
					display: inline-block;
					i{
						text-align: center;
						font-size: 15px; 
						margin: 0 10px;
						@include transition(all .3s ease 0s);
						color:$light-gray;
					}
					&:hover{
						i{
							color:$theme-color!important;
						}
					}
					&:last-child {
						i{@include rtl-margin-right(0);}
					}
					&:first-child {
						i{@include rtl-margin-left(0);}
					}
				}
			}
		}
		.tags-links{
			margin-top:42px;
			color:$light-gray;
			@include rtl-margin-left(25px);
			i{
				@include rtl-margin-right(10px);
				@include rtl-margin-left(-25px);
			}
			a{
				font-size: 15px;
				color: $light-gray;
				font-weight: 400;
				text-transform:capitalize;
				background:transparent;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}
	.edit-link{
		display:block;
		font-family: $font-family-base;
		color: $light-gray;
		font-weight: 400;
		text-transform: inherit;
		margin-top:39px;
		padding-bottom:37px;
		border-bottom:1px solid rgba($light-gray,0.25);
		a{
			color: $theme-color;
			@include rtl-margin-right(15px);
			font-weight: 400;
		}
		&:before{
			display:none;
		}
	}
 	.post-content{ 
 		margin-bottom: 0;
		.post-excerpt{ 
			h3{
				margin-top: 30px;
			}
			em{
				font-size:16px;
				color:$gray-dark;
				font-weight:400;
			}
			strong{
				font-size:15px;
				color:$gray-dark;
				font-weight:500;
			}
			iframe{
				margin-top: 20px;
			}
			ul.list-type-blog{
				margin-bottom: 30px;
				list-style-type: none;
				padding: 0;
				li{
					padding: 8px 0;
					&:before{
						content: "\4e";
						color: $theme-color;
    					font-family: 'ElegantIcons';
    					@include rtl-margin-right(10px);
					}
					&:last-child{
						padding-bottom: 0;
					}
				}
			}
			.post-password-form{
				margin-bottom:-10px;
				label{
					margin-bottom:0;
				}
				input[type="password"]{
					padding: 5px 15px;
				}
				input[type="submit"]{
					background: $theme-color;
					color: $white;
					padding: 5px 15px;
					@include rtl-margin-left(-5px);
					border: 1px solid $theme-color;
					&:hover{
						background:darken($theme-color,10%);
						border-color:darken($theme-color,10%);
					}
				}
			}
		}
		h2.post-btn{
			@include rtl-float-right();
			margin: 0;
			.post-btn-more{
				text-transform: uppercase;
				@include btn-post-default();
				&:hover{color: #fff; background: $theme-color; border-color: $theme-color; }
			}
		}
		.entry-tag{
			@include rtl-float-left();
			@media (max-width: $screen-xs-max){
				@include rtl-float-left();
				width: 100%;
				margin-top: 10px;
			}
			a{
				color: $text-color;
				&:hover{
					color: $theme-color;
				}
			}
			i{
				font-size: 17px;
				color: $gray-dark;
				@include rtl-margin-right(20px);
				position:relative;
				&:after{
					position:absolute;
					content:":";
					@include rtl-right(-10px);
					color:$gray-dark;
					font-weight:500;
				}
			}
			.title-tag{
				display:none;
			}
		}
	}
	.entry-meta-author{
		display:inline-block;
		padding:30px;
		background:#f5f5f5;
		margin-top:50px;
		width:100%;
		@include border-radius(8px);
		@media(max-width:$screen-xs-max){
			padding:15px;
		}
		.author-avatar{
			display:inline-block;
			vertical-align: middle;
			@media(max-width:$screen-xs-max){
				display: block;
				text-align:center;
			}
			.author-image{
				img{
					@include border-radius(50%);
				}
			}
		}
		.author-info{
			display: inline-block;
			vertical-align: middle;
			padding:0 20px;
			width: calc(100% - 105px);
			@media(max-width:$screen-xs-max){
				padding: 0;
				width: 100%;
				text-align: center;
				margin-top: 10px;
			}
			.author-link{
				display:block;
				margin-bottom:10px;
				a{
					font-size: 16px;
					font-weight: 700;
					font-family:$font-family-second;
				}
			}
		}
	}
}

/************************************************************************************************
    POST NAVIGATION
*************************************************************************************************/
.navigation.paging-navigation{
	@media(max-width:$screen-sm-max){
		margin-bottom:50px;
	}
	.screen-reader-text{ display: none; }
	.loop-pagination{
		display: inline-block;
	}
}

/*
* General Post Style using for all with naming class entry
*/
.entry-meta{
	font-family : $font-family-second;
	font-weight: 400;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom:20px;
	color: $light-gray;
	i{
		color: $theme-color;
		@include rtl-margin-right(5px);
	}
	> *:not(.sticky-post){
		position: relative;
		text-transform: capitalize;
		&:before{
			content: "-";
			margin: 0 5px;
			font-weight: 400;
			color:$light-gray;
		}
		a{
			color: $light-gray;
			&:hover{
				color: $theme-color;
			}
		}
		&:first-child{
			@include rtl-padding-left(0);
			&:before{
				display: none;
			}
		}
		&.entry-meta-link{
			i{
				font-size: 15px;
				@include rtl-margin-right(8px);
			}
		}
		&.comments-link{
			i{
				font-size: 15px;
				@include rtl-margin-right(7px);
			}
		}
	}
	>a{
		color: $light-gray;
		&:hover{
			color: $gray-dark;
		}
		&.comments-link{
			&:hover{
				color: $theme-color;
			}
		}
	}
}
.entry-date{
	font-weight: 400;
	time{
		color:$theme-color;
	}
	&:hover{
		cursor:pointer;
		time{
			color:$theme-color;
		}
	}
}
.entry-content{
	.page-links{
		width: 100%;
		display: inline-block;
	}
}
.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	@include rtl-right(20px);
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $red;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $yellow;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: #91e536;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $orange;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $green;
		}
	}
}
.entry-image{
	margin: -1px;
	display: block;
}
.entry-thumb{
	position: relative;
}
.entry-title{
	margin-top: 0;
	line-height: $entry-title-line-height;
	text-transform: $entry-title-transform;
	word-break: break-all;
}
.entry-content-inner{
	padding: $theme-padding;
}
.type-post{
	margin-bottom: $post-type-margin;
}
.blog-type{
	.entry-image{
		@include size(auto,169px);
		img{
			width: auto;
		}
	}
}

/* Using for new, magazine ---------------------------------------------------------------*/
.post-type{

}
.post-title{
	@include font-size(font-size,$entry-title-font-size);
}
.post-thumb{
	position: relative;
}
.blog-meta{
	top: 0;
	position: absolute;
	@include rtl-right($entry-meta-position);
}

/************************************************************************************************
    PORTFOLIO
*************************************************************************************************/
.single-portfolio-content{
	article{
		margin-bottom:60px;
	}
	.content-left{
		@media (max-width:$screen-sm-max){
			margin-bottom:30px;
		}
	}
	.portfolio-excerpt{
		ul{
			padding:0;
			margin-bottom:15px;
			li{
				list-style:none;
				position:relative;
				@include rtl-padding-left(30px);
				&:before{
					content:"";
					@include square(8px);
					@include border-radius(50%);
					position:absolute;
					@include rtl-left(0);
					top:calc(50% - 4px);
					background:$theme-color;
				}
			}
		}
	}
	.entry-title{
		font-size:35px;
		text-transform:capitalize;
		color:$gray-dark;
		margin-bottom:40px;
		line-height:1;
	}
	.portfolio-infomation{
		margin-top:20px;
		.entry-social-share{
			display:flex;
			width:100%;
			.social-share{
				a{
					@include rtl-margin-right(10px);
					display:inline-block;
					@include square(30px);
					text-align:center;
					line-height:30px;
					@include border-radius(50%);
					background:$light-gray;
					color:$white;
					font-size:12px;
					&:hover{
						background:$theme-color;
					}
				}
			}
		}
		>div{
			display: flex;
			border-bottom: 1px dashed rgba($light-gray,0.25);
			padding: 10px 0;
			&:last-child{
				border-bottom:0;
			}
			strong{
				width: 50%;
				font-weight: 700;
				color: $gray-dark;
				text-transform: capitalize;
				font-family:$font-family-monospace;
			}
			time.entry-date.published{
				display:none;
			}
			time.updated{
				color:$text-color;
				text-transform:capitalize;
				font-size:$font-size-base;
				&:before{
					display:none;
				}
			}
			.list-categories{
				padding:0;
				li{
					display:inline-block;
					list-style:none;
					a{
						color:$text-color;
						&:hover{
							color:$theme-color;
						}
					}
				}
			}
		}
	}
}
