/* Woocommerce Product Detail --------------------------------------*/
.margin-22 {
    margin-bottom: 22px !important;
}
/* Price */
.price {
    line-height: 24px;
    font-family: $font-family-second;
    font-size: $product-price-font-size;
    font-weight: $product-price-font-weight;
    color: $product-price-color;
    ins {
        text-decoration: none;
    }
    del {
        span {
            text-decoration: line-through;
        }
    }
	@media (max-width:1499px) and (min-width:$screen-md-max){
		font-size:16px;
	}
}

/* Product name */
.product-name a {
    @include font-size(font-size, $product-name-font-size);
    line-height: $product-name-line-height;
    font-weight: $product-name-font-weight;
}
.contents-detail .images .woocommerce-main-image {
    img{
        display: block;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .owl-buttons{
        .carousel-control{
            background: #fff;
        }
    }
}
/* Product item container */


.no-sidebar-left,
.no-sidebar-right{
    // 4 Product
    .col-lg-3,
    .col-md-3{
        .product-grid{

        }
    }
    // 6 Product
    .col-lg-2,
    .col-md-2{
        .product-grid{
            .onsale,
            .button-groups,
            .category,
            .price,
            .rating {
                @extend .hidden;
            }
        }
    }
}
.products{
    display: flex;
    flex-wrap: wrap;
       
    /*  Product List ------------------------------------*/
    .product-list{
        border: 1px solid $border-color;
        margin-bottom: 20px;
        background: $white;
        img{
            height: auto;
        }
        .button-groups{
            @include rtl-text-align-right;
            > div, a{
                margin-top: 0;
                padding: 0;
                margin-top: 0;
                margin-bottom: $padding-lg-vertical;
                display: block;
                border: none;
            }
            a{
                width: auto;
                height: auto;
                text-transform: capitalize;
                &:focus, &:active, &:hover{
                    background: $nocolor!important;
                    color: $theme-color;
                }
            }
            .button{
                display: block;
                text-transform: uppercase;
            }
            .fa,.icon{
                margin-right: 6px!important;
                @include font-size(font-size,$product-icon-font-size);
            }
            .feedback{
                @extend .hidden;
            }
            .yith-wcwl-add-to-wishlist{
                position: relative;
                .ajax-loading{
                    position: absolute;
                    top: 5px;
                    @include rtl-left(20px);
                }
            }
        }
        .rating{
            margin-bottom: $padding-lg-vertical;
            @include clearfix();
            .star-rating{
                @include rtl-float-right;
            }
        }

        .price{
            margin-bottom: 10px;
            @include rtl-text-align-right;
            ins{
                @include rtl-text-align-right;
            }
            > *{
                width: inherit;
            }
        }
        .description{
            text-align: justify;
        }
        .product-assets{
            .name{
                display: none;
            }
            @include rtl-margin(20px, 20px, 0, 0);
            text-align: right;
            a{
                background: none!important;
                text-align: right;
                color: $text-color;
                font-size: $font-size-base;
                font-weight: 300;
                &:hover, &:focus, &:active{
                    background: none!important;
                    color: $theme-color;

                }
            }
            .btn-cart, .btn-cart a{
                background: none;
                &:after, &:before{
                    content: none!important;
                }    
            }
        }  
    }
}

/* Product Info ---------------------------------------------*/
.product-info{
    padding-bottom: 30px;
    .product-title{
        @include font-size(font-size,$single-product-title-font-size);
        line-height: $single-product-title-line-height;
        font-weight: $single-product-title-font-weight;
        margin: $single-product-title-margin;
        text-transform: $single-product-title-transform;
    }
    .woocommerce-main-image{
        margin-bottom: 5px;
        width: percentage(1);
        display: block;
        border: 1px solid $border-color;
    }
    .summary{
       @include font-size(font-size, $single-product-summary-font-size);
        .product_meta{
            clear: both;
            color: $black;
            margin-top: 0;
            padding: 10px 0 5px;
            a{
                color: #a0a0a0;
                &:hover{
                    color: $theme-color;
                    text-decoration: none;
                }
            }
            > div{
                margin-bottom:  $theme-margin / 2;
            }
        }
    }
    .single-product-description{
        margin-bottom: 22px;
    }
    .yith_magnifier_gallery{
        li{
            margin-top: 0;
            @include rtl-margin(0, 5px, 0, 0);
            @include size($product-thumbnail-gallery-size, auto);
            border: 1px solid $border-color;
            a{
                display: inline;
                img{
                    height: auto;
                    @include opacity(0.6);
                    @include transition(opacity 0.35s);
                    &:hover{
                        @include opacity(1);
                    }
                }
            }
            &:last-child{
                @include rtl-margin-right(0);
            }
        }
    }
    .out-of-stock{
        display: none;
    }
    .label{
        color: $black;
        display: table-cell;
        padding: 0;
        vertical-align: middle;
        font-size: $font-size-base;
        @include rtl-text-align-right();
    }
    .addthis{
        @include rtl-clear-left();
        overflow: hidden;
        padding: $theme-padding 0;
        min-height: 60px;
        border-top: 1px solid $border-color;
        margin-top: 10px;
    }
    .rating{
        @include clearfix();
        margin-bottom: $theme-margin;
        > *{
            @include rtl-float-left();
        }
        .star-rating{
            margin-top:  $theme-margin / 2;
            @include rtl-margin-right(10px);
        }
    } 
    .cart{
        @include rtl-float-left();
        >div{
            @include rtl-float-left();
        }
        .cart-number{
            padding: 0 0 $theme-padding 0;
            @include clearfix();
            > *{
                @include rtl-float-left();
            }
        }
        .qty{
            width: 60px;
            padding: 0;
            text-align: center;
            color: $black;
            font-weight: 400;
        }
        .button{
            margin-bottom: 10px;
            .fa,[class^="icon-"], [class*=" icon-"]{
                @extend .hidden;
            }
        }
        .add-cart{

            margin-left: 10px;
        }
        >a.add_to_cart_button, .add-cart button{
            @include transition(all 0.35s);
            text-transform: uppercase;
            @include font-size(font-size, 11px);
            position: relative;
            height: 38px;
            line-height: 36px;
            padding: 0 35px;
            display: block;
            font-weight: $headings-font-weight;
            @include border-radius(4px);
            @extend .btn-link;
            border: 1px solid $black;
            background: $black;
            color: $white; 
            &:active, &:focus, &:hover{
                border-color: $theme-color;
                background: $theme-color;  
                color: $white; 
                text-decoration: none;
            }
            
        }
        > a.single_add_to_cart_button{
            @include rtl-float-left();
            display: inline-block;
        } 
    }
    .table-product-group{
        width: 100%;
        clear: both;
        td{
            vertical-align: middle;
        }
        .add_cart{
            margin-left: 0;
        }
        .price{
            padding: 5px;
        }
        .cart-number{
            padding: 0;
        }
        .label label{
            font-weight: 300;
        }
        .price{
            display: inline-block!important;
            border: none;
            line-height: 50px;
            del{
                float: right;
                margin-top: 5px;
            }
            ins{
                float: left;
                margin-right: 5px;
            }
        }
    }
    .button-action{
        color: #aaaaaa;
        font-weight: 900;
        text-transform: uppercase;
        @include font-size(font-size, 11px);
        position: relative;
        height: 38px;
        line-height: 36px;
        padding: 0 35px;
        display: inline-block;
        font-weight: $headings-font-weight;
        @include border-radius(4px);
        @extend .btn-link;
        border: 1px solid $border-color;
        &:focus, &:hover{
            border-color: $theme-color;
            background: $theme-color;  
            color: $white; 
            text-decoration: none;
        }
    }
    .yith-wcwl-add-to-wishlist{
        @include rtl-float-left();
        > *{
            display: none;
            line-height: 0;
        }
        .fa,
        .icon{
            display: none;
        }
        a{
           @extend .button-action;
        }
        .ajax-loading{
            margin: 0;
            position: absolute;
            top: 10px;
            @include rtl-left(-10px);
        }
        .feedback{
            @include hide-text();
        }
    }
    .clear{
        display: none;
    }
    .price{
        display: table;
        color: $single-new-price-color;
        font-weight: $single-new-price-font-weight;
        @include font-size(font-size,$single-new-price-font-size);
        padding: 5px 0 10px;
        line-height: 30px;
        > *{
            display: table-cell;
            vertical-align: middle;
        }
        del{
            padding-top: 10px;
            line-height: 20px;
            span{
                color: $black;
                @include rtl-margin-right(10px);
            }
        }
    }
    .onsale{
        @include rtl-left(32px);
    }
    .yith_magnifier_zoom_wrap{
        z-index: 9;
    }
}
    
/* Product Category and Subcategories ------------------------*/
    .product-category{
        .product-category-content{
            position: relative;
            overflow: hidden;
            min-height: $product-category-content-height;
            margin: $product-category-content-margin;
        }
        .product-category-image{
            display: block;
            img{
                @include img-responsive();
            }
        }
        .product-category-title{
            text-transform: none;
            position: absolute;
            text-align: center;
            bottom: 0;
            @include rtl-left(0);
            width: 100%;
            font-weight: $product-category-title-font-weight;
            @include font-size(font-size,$product-category-title-font-size);
            color: $product-category-title-color;
            margin: $product-category-title-margin;
            padding: $product-category-title-padding;
            background: rgba($product-category-title-bg, .3);
            .count{
                background: transparent;
                color: $product-category-title-color;
            }
        }
    }

/*  Bingo Product List---------------------------------------------*/
    .woo-default-2,&.woo-slider-default{
        .title-block{
            margin-bottom: 42px;
            h2{
                display: inline-block;
                font-size: 25px;
                color: $gray-dark;
                margin: 0;
            }
        }
        .products-list.grid{
			margin: -10px;
			.slick-list{
				padding:10px;
			}
            .product-wapper{
                display: flex;
                margin-bottom: 20px;
                padding: 10px;
				@media(max-width:$screen-sm-max)and(min-width:$screen-sm){
					display:block;
				}
                .products-thumb{
                    margin: 0;
                    max-width: 120px;
					flex: 0 0 50%;
                    @media (max-width: $screen-md-max)and(min-width:$screen-md){
                        max-width: 90px;
                    }
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
                        max-width: 200px;
						flex: 0 0 30%;
                    }
                    @media (min-width: 1550px){
                        max-width: 170px;
                    }
                    .product-thumb-hover{
                        overflow: hidden;
                    }
                }
                .products-content{
                    padding-top: 15px;
                    @include rtl-text-align-left();
                    @include rtl-padding-left(30px);
					padding-bottom:0;
					@media(max-width:$screen-md-max)and(min-width:$screen-md){
						padding-top:0;
					}
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
                        @include rtl-padding-left(15px);
                        padding-top: 15px;
						padding-bottom:15px;
						text-align:center;
                    }
                    h3.product-title{
                        margin-bottom: 10px;
                        a{
                            line-height: 24px;
                        }
                    }
                    .price{
                        padding: 0;
                        &:before{
                            display: none;
                        }
                    }
                    .star-rating{
                        margin: 0;
						@media(min-width: $screen-sm) and (max-width: $screen-sm-max){
							margin:auto;
						}
                    }
					.add_to_cart_button, 
					.added_to_cart,
					.product_type_external,
					.product_type_variable,
					.read_more{
						display:none;
					}
                }
                .product-button{
                    display: none;
                }
                .onsale, .hot{
                	display: none;
                }
				&:hover{
					.rating{
						@include opacity-s();
					}
				}
            }
        }
    }
	.woo-slider-default-2{
		.content-product-list{
			.slick-slider{
				overflow:unset;
			}
		}
		.title-block{
            margin-bottom: 30px;
			display:flex;
            h2{
                display: inline-block;
                font-size: 35px;
                color: $gray-dark;
                margin: 0; 
                padding-bottom: 37px;
                background: url('#{$image-theme-path}bottom-2.png') left bottom no-repeat;
				flex:1 25%;
            }
			.page-description{
				flex: 1 100%;
			}
        }
	}
	.woo-slider-default {
		position:relative;
        .content-product-list{
			.slick-arrow{
				top: 4px;
				right: 0;
				@include square(22px);
				line-height: 22px;
				font-size: 12px;
				color: $white;
				background: $theme-color;
				&.fa-angle-left{
					right: 30px;
					left: auto;
				}
				&:hover{
					color:$theme-color;
					background:$white;
				}
			}
        }
    }
	.woo-slider-2{
		.content-product-list{
			.products-list.grid{
				.slick-list{
				}
			}
			.slick-slider{
				overflow:unset;
			}
			.slick-arrow{
				background:$white;
				border-color:$theme-color;
				top:calc(50% + 30px);
				opacity:0;
				right:0;
				left:auto;
				&.fa-angle-left{
					right:auto;
					left:0;
				}
				&:hover{
					border-color:$theme-color;
					background:$theme-color;
					color:$white;
				}
			}
			&:hover{
				.slick-arrow{
					opacity:1;
					right:-60px;
					&.fa-angle-left{
						right:auto;
						left:-60px;
					}
				}
			}
		}
	}
    .bwp-woo-slider {
        .content-product-list{
            position: relative;
        }
        .banner-block{
            overflow: hidden;
            img{
                backface-visibility: hidden;
                filter: alpha(opacity=100);
                @include transition( opacity 1s ease 0s, transform 1s ease 0s);
            }
            &:hover{
                img{
                    filter: alpha(opacity=80);
                    transform: scale3d(1.1, 1.1, 1);
                }
            }
        }
    }
/************************************************************************************************
    LIST PROCDUCT  
*************************************************************************************************/
.bwp_list_default{
	&.default{
		.product-list-top{
			display:flex;
			align-items:center;
			justify-content:space-between;
			position:relative;
			margin-bottom:60px;
			&:before{
				content:"";
				position:absolute;
				width:100%;
				height:1px;
				background:rgba($light-gray,0.25);
			}
			.title-block{
				position:relative;
				background:$white;
				&:before{
					content:"";
					position:absolute;
					width:115px;
					height:100%;
					background:$white;
					@include rtl-left(calc(100% + 1px));
					top:0;
				}
				h2{
					margin:0;
					font-size:35px;
					font-weight:500;
					color:$gray-dark;
				}
			}
			.btn-product-list{
				display:inline-block;
				padding:5px 54px 8px;
				border:1px solid rgba($light-gray,0.25);
				background:$white;
				position:relative;
				&:before{
					content:"";
					position:absolute;
					width:130px;
					height:100%;
					background:$white;
					@include rtl-right(calc(100% + 1px));
					top:0;
				}
				a{
					display:inline-block;
					text-transform:uppercase;
					color:$text-color;
					position:relative;
					&:hover{
						color:$theme-color;
					}
				}
				@media (max-width:$screen-xs-max){
					padding:5px 15px 8px;
					&:before{
						display:none;
					}
				}
			}
		}
	}
	&.slider4,&.slider6{
		.products-list.grid{
			.product-wapper{
				display:flex;
				@media (max-width:$screen-sm-max){
					flex-wrap:wrap;
				}
				.product-button{
					display:none;
				}
				.products-content{
					border:1px solid rgba($gray-dark,0.1);
					border-left:0;
					width:100%;
					@media (max-width:$screen-sm-max){
						border:1px solid rgba($gray-dark,0.1);
						border-top:0;
					}
				}
				.products-thumb{
					flex:0 0 150px;
					width:100%;
					@media (max-width:$screen-sm-max){
						flex:0 0 100%;
					}
				}
			}
			.product-lable{
				display:none;
			}
		}
		.slick-arrow{
			border:0;
			color:$gray-dark;
			top:-80px;
			@include size(30px,40px);
			line-height:40px;
			left:auto;
			right:0;
			font-size:20px;
			&.fa-angle-left{
				right:40px;
			}
			&.fa-angle-right{
				&:after{
					content:"";
					bottom:0;
					right:0;
					@include size(100%,3px);
					background:$theme-color;
					position:absolute;
				}
			}
			&:hover{
				color:$theme-color;
				background:transparent;
			}
			@media (max-width:$screen-sm-max){
				display:none !important;
			}
		}
	}
	&.woo-slider-2{
		position:relative;
		.title-block{
			margin-bottom:55px;
			position:relative;
			&:before{
				position:absolute;
				content:"";
				max-width:100%;
				height:1px;
				background:rgba($light-gray,0.25);
				left:50%;
				@include transform(translateX(-50%));
				bottom:50%;
				width: 100%;
				z-index:-1;
			}
			h2{
				margin:0;
				font-size:24px;
				font-weight:700;
				color:$gray-dark;
				display:inline-block;
				background:$white;
				@include rtl-padding-right(20px);
				text-transform:uppercase;
				@media (max-width:$screen-xs-max){
					font-size:20px;
				}
			}
		}
		.btn-product-list{
			a{
				display:inline-block;
				line-height:40px;
				padding:0 30px;
				border:1px solid rgba($gray-dark,0.25);
				@include border-radius(25px);
				position:absolute;
				@include rtl-right(0);
				top:-10px;
				background:$white;
				text-transform:capitalize;
				color:$text-color;
				&:hover{
					color:$theme-color;
				}
				@media (max-width:$screen-xs-max){
					display:none;
				}
			}
		}
		&.slider5{
			.content-product-list{
				position:relative;
				.products-entry{
					display:flex;
					&:last-child{
						margin-bottom:0;
					}
					.products-thumb{
						max-width:170px;
						margin-bottom:0;
						flex: 1 1 100%;
						.product-button{
							display:none;
						}
						.product-lable{
							display:none;
						}
					}
					.products-content{
						@include rtl-padding-left(20px);
						padding-top:30px;
						h3.product-title{
							margin-bottom:10px;
							line-height:1.4;
							margin-top:-3px;
						}
						.price{
							font-size:15px;
							del{
								font-size:14px;
							}
						}
						.rating{
							float:unset;
							.star-rating{
								margin:0 0 15px;
							}
						}
					}
				}
				@media (max-width:$screen-sm-max) and (min-width:$screen-xs-max){
					.products-thumb{
						width:auto;
						display:block;
						max-width:unset;
					}
					.products-content{
						display:block;
						@include rtl-padding-left(0);
					}
				}
			}
			.slick-arrow{
				top:-91px;
				right:0;
				height:40px;
				line-height:40px;
				@include border-radius(0);
				border:1px solid rgba($light-gray,0.25);
				color:$light-gray;
				background:$white;
				@include opacity-s();
				&:hover{
					color:$theme-color;
					background:$white;
				}
				&.fa-angle-left{
					right:40px !important;
					left:auto !important;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					border-right:0;
					padding:0 5px 0 15px;
					&:before{
						content: "\23";
						font-family: eleganticons;
					}
				}
				&.fa-angle-right{
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					border-left:0;
					padding:0 15px 0 5px;
					&:before{
						content: "\24";
						font-family: eleganticons;
					}
				}
				@media (max-width:$screen-sm-max){
					width:40px;
				}
			}
		}
	}
	&.default2{
		.products-list.grid{
			.product-wapper{
				display:flex;
				.product-button{
					display:none;
				}
				.products-content{
					border-left:0;
					width:100%;
					padding:0;
					border:0;
					@include rtl-padding-left(15px);
				}
				.products-thumb{
					flex:0 0 80px;
					width:100%;
				}
			}
			.product-lable{
				display:none;
			}
		}
	}
	&.slider3{
		position:relative;
		.title-block{
			margin-bottom: 55px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				max-width: 100%;
				height: 1px;
				background: rgba($light-gray, 0.25);
				left: 50%;
				@include transform(translateX(-50%));
				bottom: 50%;
				width: 100%;
				z-index: -1;
			}
			h2{
				margin: 0;
				font-size: 24px;
				font-weight: 700;
				color: $gray-dark;
				display: inline-block;
				background: $white;
				padding-right: 20px;
				text-transform: uppercase;
			}
		}
		.slick-arrow{
			top:-6px;
			right:0;
			height:40px;
			line-height:40px;
			@include border-radius(0);
			border:1px solid rgba($light-gray,0.25);
			color:$light-gray;
			background:$white;
			@include opacity-s();
			&:hover{
				color:$theme-color;
				background:$white;
			}
			&.fa-angle-left{
				right:40px !important;
				left:auto !important;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				border-right:0;
				padding:0 5px 0 15px;
				&:before{
					content: "\23";
					font-family: eleganticons;
				}
			}
			&.fa-angle-right{
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				border-left:0;
				padding:0 15px 0 5px;
				&:before{
					content: "\24";
					font-family: eleganticons;
				}
			}
			@media (max-width:$screen-sm-max){
				width:40px;
			}
			@media(max-width:$screen-xs-max){
				display:none!important;
			}
		}
	}
	&.slider{
		.slick-arrow{
			border:0;
			color:$gray-dark;
			top:-80px;
			@include size(30px,40px);
			line-height:40px;
			left:auto;
			right:0;
			font-size:20px;
			&.fa-angle-left{
				right:40px;
			}
			&.fa-angle-right{
				&:after{
					content:"";
					bottom:0;
					right:0;
					@include size(100%,3px);
					background:$theme-color;
					position:absolute;
				}
			}
			&:hover{
				color:$theme-color;
				background:transparent;
			}
			@media (max-width:$screen-sm-max){
				display:none !important;
			}
		}
	}
}
/************************************************************************************************
    RELATE PROCDUCT  
*************************************************************************************************/
.related, .cross_sell, .upsells{
	position: relative;
    margin-top: 85px;
    .title-block{
        margin-bottom: 59px;
        h2{
            font-size: 30px;
			color:$gray-dark;
            text-transform: capitalize;
            margin-bottom: 0;
            font-weight: 700;
			text-transform : uppercase;
        }
    }
	.content-product-list{
		@media(max-width:$screen-sm-max){
			.slick-arrow{
				top:15%;
				right:0;
				&.fa-angle-left{
					right:auto;
					left:auto!important;
				}
			}
		}
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
		.slick-arrow{
			top:60%;
			@include opacity-h();
			@include transition(all 0.3s ease);
		}
		.products-list.grid{
			margin:-15px;
			.slick-list{
				padding:15px;
			}
			.product-wapper{
				margin: 0 15px;
			}
		}
	}
    .product-container{ margin: 0; }
}

/************************************************************************************************
    QUICK VIEW PRODUCT
*************************************************************************************************/
.bwp-quick-view{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: inline-block;
	background: rgba(0,0,0,.5);
	opacity: 0;
	visibility : hidden;
	@include transition(all 0.8s ease-in-out);
	&.active{
		opacity: 1;
		visibility : visible;
	}
	.img-thumbnail{
		border:0;
	}
	.col-sm-12{
		padding:0;
		.slick-arrow{
			@include square(25px);
			line-height:25px;
			right:-15px;
			@include opacity-h();
			border:0;
			color:$text-color;
			&:hover{
				color:$theme-color;
				background:transparent;
			}
			&:before{
				content:"\f178";
			}
			&.fa-angle-left{
				right:auto;
				left:-15px;
				&:before{
					content: "\f177";
				}
			}
		}
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
	}
	.image-thumbnail{
		margin-top:10px;
		overflow:unset;
		.img-thumbnail{
			border:0;
			padding:0 5px;
			.img-thumbnail-scroll{
				border:1px solid transparent;
				display:inline-block;
				cursor:pointer;
			}
			&.slick-current{
				.img-thumbnail-scroll{
					border:1px solid $theme-color;
				}
			}
		}
		.slick-list{
			padding:0!important;
			margin:0 -5px;
		}
	}
	.quickview-container{
		position : fixed;
		z-index: 10;
		left : 50%;
		top: 50%;	
		@include translate(-50%,-50%);	
		.quickview-close{
			background: $theme-color url('#{$image-theme-path}icon/close-popup.png') 50% no-repeat;
			border-radius: 20px;
			text-align: center;
			line-height: 36px;
			position: absolute;
			cursor: pointer;
			top : -15px;
			right: -15px;
			width: 36px;
			height: 36px;
		}		
		.product_title{
			margin-top: 10px;
			font-size:30px;
		}
        .bwp-single-info{
            .single_add_to_cart_button.button,.yith-wcwl-add-to-wishlist{
                @include rtl-margin-right(10px);
            }
            .quantity{
                @include rtl-margin-right(10px);
                input.input-text{
                    border: none !important;
					padding:0;
					text-align:center;
                }
            }
        }
		.quickview-slick{
			ul.slick-dots{
                position: initial;
                margin-top: 10px;
            }
			.slick-arrow{
				right:0;
				@include border-radius(0);
				@include square(35px);
				line-height:33px;
				@include opacity-h();
				@include transition(all 0.3s ease);
				&.fa-angle-left{
					left:0;
				}
			}
			&:hover{
				.slick-arrow{
					@include opacity-s();
				}
			}
		}  
		.product_detail{
			overflow: hidden;
			display: block;
			padding: 15px 0;
			background: $white;
			color: $text-color;
			max-width : 850px;
			max-height : 500px;
			overflow-y : scroll;
			>.row{
				margin:0;
			}
		}
		.woocommerce-message{
			display : none;
		}	
        .product-type-variable .variations_form.cart table{
            tr td label{
                margin-top: 14px;
            }
            .reset_variations{
                margin: 0 10px;
            }
        } 
		.product_meta{
			#report_abuse{
				display:none !important;
			}
			#report_abuse_form{
				display:none !important;
			}
		}
	}
}
.content-product-360-view{
	position:fixed !important;
	top:0;
	left:0;
	z-index:9999;
	height:100%;
	width:100%;
	background:rgba($gray-dark,0.8);
	align-items:center;
	display:none;
	&.active{
		display:flex;
	}
	.product-360-view{
		width:calc(100% - 30px) !important;
		max-width:700px;
		height:auto !important;
		padding:30px;
		background:$white;
		.dimita-360-button{
			top:10px;
			bottom:auto;
			right:10px;
			background:$white;
			padding:0;
			@include box-shadow(unset);
			border:1px solid $gray-lighter;
			@include square(35px);
			line-height:33px;
			text-align:center;
			margin:0;
			i{
				margin:0;
				font-size:21px;
				&:before{
					content: "\4d";
					background: none;
					display:inline-block;
					@include square(auto);
					background-size:unset;
				}
			}
		}
		.images-list{
			padding:0;
			list-style:none;
			cursor: grab;
			.images-display{
				display:none;
				&.active{
					display:block;
				}
			}
		}
		.navigation-bar-wrapper{
			position:absolute;
			width:calc(100% - 60px);
			bottom:60px;
			.navigation-bar{
				max-width:150px;
				margin:auto;
				display:flex;
				background:$white;
				padding:5px 10px;
				@include border-radius(25px);
				@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
				>*{
					flex:1;
					cursor:pointer;
					color:$gray-dark;
					font-size:18px;
					font-family:FontAwesome;
					&:hover{
						color:$theme-color;
					}
				}
			}
			.navigation-bar-previous{
				&:before{
					content:"\f048";
				}
			}
			.navigation-bar-next{
				&:before{
					content:"\f051";
				}
			}
			.navigation-bar-play{
				&:before{
					content:"\f04b";
				}
				&.navigation-bar-stop{
					&:before{
						content:"\f04d";
					}
				}
			}
		}
		.loading-spinner{
			display: block;
			position: absolute;
			z-index: 10000;
			background: $white;
			opacity: 0.5;
			&:after{
				display: block;
				background-image: url("images/icons/loading.gif");
				background-size: contain;
				content: '';
				width: 50%;
				height: 50%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				z-index: 100001;
			}
		}
		@media (max-width:$screen-sm-max){
			max-width:500px !important;
		}
		@media (max-width:$screen-xs){
			padding:15px;
			.cerio-360-button{
				top:5px;
				right:5px;
				@include square(30px);
				line-height:24px;
				i{
					font-size:18px;
				}
			}
			.navigation-bar-wrapper{
				bottom:20px;
				width: calc(100% - 30px);
			}
		}
	}
}
.dimita-360-button{
	position:absolute;
	bottom:10px;
	@include rtl-right(15px);
	background:$white;
	padding:0 20px 0 10px;
	line-height:37px;
	color:$gray-dark;
	@include border-radius(25px);
	@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
	font-size:10px;
	text-transform:uppercase;
	font-family:$font-family-second;
	z-index:999;
	cursor:pointer;
	font-weight:500;
	i{
		&:before{
			content:"";
			background: url('#{$image-theme-path}360-degree.svg') no-repeat;
			display:inline-block;
			@include square(26px);
			background-size:contain;
		}
		line-height:1;
		display:inline-block;
		vertical-align:middle;
		margin-right:5px;
	}
	&:hover{
		color:$theme-color;
	}
}